/*atandard gallery*/
#mainImage{
	max-width: 100%;
}
.smallImage{
	max-width: 30%;
	cursor: pointer;
}
/*
.title{
	text-align: center;
}
*/

/*carousel (mobile vertical gallery)*/
.verticalMobileGallery{
	display: none; /*default dont display unless smaller screen*/
}
.carousel-control.left, .carousel-control.right {
   	background-image: none;
    opacity: 1 !important;
    color: black;
}
.carousel-indicators li{
	background-color: #777;
	width: 5px;
	height: 5px;
	border: 1px solid #777;
}
.carousel-indicators .active{
	background-color: #333;
	width: 5px;
	height: 5px;
	border: 1px solid #333;
}

/*arrow navs*/
.rightArrow{
	color: black;
	font-size: 70px;
	/*padding: 10px;*/
	float: right;
	/*left: 90%;*/
}
.leftArrow{
	color: black;
	font-size: 70px;
	/*padding: 10px;*/
}
.rightArrow:hover{
    text-decoration: none;
}
.leftArrow:hover{
    text-decoration: none;
}


/*description*/
.centeredText{
	text-align: center;
}

/*when mobile is vertical, stack images over description and use carousel*/
@media (max-width: 450px) { 	
	.imageGroup{
		/*make image group block to stack*/
        display: block; 
        float: none; 
        width: 100%;
	}
	/*make product details block to stack*/
	.productDetails{
        display: block; 
        float: none; 
        width: 100%;
	}

	/*display the carousel*/
	.verticalMobileGallery{
		display: block;
		float: none; 
        width: 100%;
	}
	/*remove the non mobile gallery*/
	.standardGallery{
		display: none;
	}

	
}
/*and skinnier on wider screens*/
@media (min-width: 766px) { 
	/*
	.leftArrow{
		width: 10%;
	}
	.rightArrow{
		width: 10%;
	}
	*/
}


.cartButtons{
	text-align: center;
}
.formatChoice{
	padding-right: 5px;

}
#addToCart{
	padding-left: 5px;
}

h4{
	font-size: 2vw;
}


/*site specific*/
/*Bugs*/




