/*ensure that miages are block and dont overflow*/
img{
	max-width: 100%;
  display: block;
  margin: auto;
}


/*////////specific images//////////*/
.bugsPhoto{
  max-width: 56.25%;
}
.savorySelectionsPhoto{
  max-width: 56.25%;
}
.superHeadPhoto{
  max-width:68.25%;
}
.shawarmaChameleonPhoto{
  max-width: 70%;
}


/*tile font, size, margins*/
.productTitle{
  font-family: "Helvetica Inserat", sans-serif;
  font-size: 1.3vw;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
/*center and put a little space above images*/
.productContainer{
  text-align: center;
  margin-top: 2vw;
}

/*///////screen size and orientation ///////*/
/*as default dont display 2 per row*/
.verticalMobilePublications{
  display: none;
}

/*when on vertical mobile phone*/
@media (max-width: 450px) { 
  /*show 2 per row*/ 
  .verticalMobilePublications{
    display: block;
  }  
  /*hide the standar*/
  .standardPublications{
    display: none;
  } 

  /*////images and titels///*/
  /*make titles larger*/
  .productTitle{
    font-size: 2.8vw;
  }
  .bugsPhoto{
    max-width: 80%;
  }
  .superHeadPhoto{
    max-width: 97%;
  }
  .savorySelectionsPhoto{
    max-width: 59%;
  }
  .shawarmaChameleonPhoto{
    max-width: 100%;
  }


}



